
div[data-gi-css~=blog-post-feed-usecase][data-gi-id=search] {}

div[data-gi-css~=blog-post-feed-usecase][data-gi-id=new-post] {
    padding: 10px 0 10px 0;
}

div[data-gi-css~=blog-post-feed-usecase][data-gi-id=navi] {
    padding: 0 0 5px 0;
}

div[data-gi-css~=blog-post-feed-usecase][data-gi-id=navi] a {
    font-size: 12px; color: black; margin-right: 50px; text-decoration: none;
}

div[data-gi-css~=blog-post-feed-usecase][data-gi-id=post-feed] {}