
table[data-gi-css~=blog-user-statistic-totally-table][data-gi-id=table] tr > td,
table[data-gi-css~=blog-user-statistic-totally-table][data-gi-id=table] tr > th {
    background-color: white; padding: 3px; font-size: 11px;
}

table[data-gi-css~=blog-user-statistic-totally-table][data-gi-id=table] tr > td a {
     color: black; text-decoration: none; font-size: 12px;
}

table[data-gi-css~=blog-user-statistic-totally-table][data-gi-id=table] tr > td:nth-child(2) {
    width: 170px;
}

table[data-gi-css~=blog-user-statistic-totally-table][data-gi-id=table] tr > td:nth-child(3) {
    width: 80px;
}

table[data-gi-css~=blog-user-statistic-totally-table][data-gi-id=table] tr > td:nth-child(4) {
    width: 100px;
}

table[data-gi-css~=blog-user-statistic-totally-table][data-gi-id=table] tr > td:nth-child(5) {
    width: 150px;
}

table[data-gi-css~=blog-user-statistic-totally-table][data-gi-id=table] tr > th.gi-order-ascendant {
    background: white url("../img/arrow-up.png") no-repeat right center;
}

table[data-gi-css~=blog-user-statistic-totally-table][data-gi-id=table] tr > th.gi-order-descendant {
    background: white url("../img/arrow-down.png") no-repeat right center;
}